## Part 1 - Preprocessing

In [3]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import Imputer, OneHotEncoder, LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split

#### Import the data set and describe the data set

In [4]:
data = pd.read_csv('/Users/vince/Documents/machineLearningAZ/data/part1/Data.csv')
data.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [5]:
data.describe()

             Age        Salary
count   9.000000      9.000000
mean   38.777778  63777.777778
std     7.693793  12265.579662
min    27.000000  48000.000000
25%    35.000000  54000.000000
50%    38.000000  61000.000000
75%    44.000000  72000.000000
max    50.000000  83000.000000

Get the number of NaN values per column

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
Country      10 non-null object
Age          9 non-null float64
Salary       9 non-null float64
Purchased    10 non-null object
dtypes: float64(2), object(2)
memory usage: 400.0+ bytes

#### Extract the values for the independant variables (X) and the dependant variable (y)

In [4]:
X = data.iloc[:,0:3].values # country age abd salary
y = data.iloc[:,3].values # purchased

#### Fill in the missing values for the the ages and salary

In [5]:
missing = Imputer(missing_values='NaN', strategy='mean',axis=0)
X[:,1:3] = missing.fit_transform(X[:,1:3])

#### Convert the country values to numerical values and then encode to binary values, one column for each country

In [6]:
countryNumValues = LabelEncoder()
X[:,0] = countryNumValues.fit_transform(X[:,0])

In [7]:
countryEncoder = OneHotEncoder(categorical_features=[0])
X = countryEncoder.fit_transform(X).toarray()

#### Encode the purchased values to binary values

In [8]:
purchasedBinary = LabelEncoder()
y = purchasedBinary.fit_transform(y)

#### Scale the independant variables

In [9]:
minMaxX = MinMaxScaler()
X = minMaxX.fit_transform(X)

#### Split the data set into train and test datasets

In [10]:
Xtrain,Xtest,Ytrain, Ytest = train_test_split(X,y,test_size=0.2)

In [13]:
Xtrain

array([[0.        , 1.        , 0.        , 0.13043478, 0.17142857],
       [1.        , 0.        , 0.        , 0.43478261, 0.54285714],
       [1.        , 0.        , 0.        , 0.34782609, 0.28571429],
       [0.        , 1.        , 0.        , 1.        , 1.        ],
       [0.        , 0.        , 1.        , 0.47826087, 0.37142857],
       [0.        , 0.        , 1.        , 0.        , 0.        ],
       [1.        , 0.        , 0.        , 0.91304348, 0.88571429],
       [0.        , 0.        , 1.        , 0.51207729, 0.11428571]])